<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="conStr" connectionString="Data Source=172.16.1.251;Initial Catalog=BMS;Integrated Security=False;User ID=sa;Password=QC@2018;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;Pooling=true;Max Pool Size=40000;Min Pool Size=0;" />
  </connectionStrings>
  <appSettings>
    <add key="password" value="zhangliang" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>